html,body,h1,h3,h4,h5,h6,td {
    font-family: 'Solway', serif !important;
}

h2 {
    font-family: 'Lobster Two', cursive !important;
}

.flex-container {
    display: flex;
}

.flex-container-vert {
    display: flex;
    flex-direction: column;
}

#map {
    width: 100%;
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    #map {
        height: 300px;
    }
}
